<p id="notice"><%= notice %></p>

<div class="boxed">
    <p>
      <%= @blogpost.title %>
    </p>

    <p>
      <%= @blogpost.contents %>
    </p>

    <% @bpcomments.each do |comment| %>
      <tr>
          <td><b>Comment: </b><%= comment.commenttext %></td>
          <td><br/><b>Author: </b><%= comment.author %></td>
          <td><br/><b>Blogpost: </b><%= comment.blogpost %></td>
          <td><br/><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</div>

<%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
<%= link_to 'Back', blogposts_path %>
